
# VS and VSC folders
**/.vs/
**/.vsc/

# Common extensions
**/*.exp
**/*.ilk
**/*.lib
**/*.pdb
**/*.exp
**/*.exe

# SDKs
source/EOS_sdk/

# DEMO options
source/EOS_gml/options/

# Build solutions (temp & output)
**/Debug/
**/Release/

# MacOS
.DS_Store

# XCode and VS userdata
*.user
xcuserdata/

# Release packages
output/
source/EOS_gml/extensions/EpicOnlineServices/scriptUtils.bat.bak

source/EOS_gml/extensions/EpicOnlineServices/scriptUtils.sh.bak
